In [2]:
import pandas as pd
import mysql.connector

In [12]:
# Connection to db
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week8"
)

cursor = connection.cursor()

# Create tables
cursor.execute("DROP TABLE IF EXISTS OrderDetails;")
cursor.execute("DROP TABLE IF EXISTS Orders;")
cursor.execute("DROP TABLE IF EXISTS Customers;")
cursor.execute("DROP TABLE IF EXISTS Salespersons;")
cursor.execute("DROP TABLE IF EXISTS Products;")


cursor.execute("""
CREATE TABLE Products (
               ProductID INT PRIMARY KEY, 
               ProductName VARCHAR(100), 
               Category VARCHAR(50), 
               Price DECIMAL(10,2), 
               StockQuantity INT
               );
""")

cursor.execute("""
CREATE TABLE Customers (
               CustomerID INT PRIMARY KEY,
               FullName VARCHAR(100),
               PhoneNumber VARCHAR(10) UNIQUE,
               Email VARCHAR(100) UNIQUE
               );
""")

cursor.execute("""
CREATE TABLE Salespersons (
               SalespersonID INT PRIMARY KEY,
               FullName VARCHAR(100),
               PhoneNumber VARCHAR(10) UNIQUE
               );
""")

cursor.execute("""
CREATE TABLE Orders (
               OrderID INT PRIMARY KEY,
               CustomerID INT,
               SalespersonID INT,
               OrderDate DATE,
               TotalAmount DECIMAL(10,2),
               FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
               FOREIGN KEY (SalespersonID) REFERENCES Salespersons(SalespersonID)
               );

""")

cursor.execute("""  
CREATE TABLE OrderDetails (
               OrderDetailID INT PRIMARY KEY,
               OrderID INT,
               ProductID INT,
               Quantity INT,
               Subtotal DECIMAL(10,2),
               FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
               FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
               );
""")

connection.commit()
cursor.close()
connection.close()

In [16]:
#Connection to db
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week8"
)

cursor = connection.cursor()

#Insert data into tables
cursor.execute("""
INSERT INTO Products (ProductID, ProductName, Category, Price, StockQuantity)
VALUES  
(1, 'Laptop Dell XPS', 'Laptop', 25000000, 10),
(2, 'iPhone14', 'Điện thoại', 22000000, 15),
(3, 'Tai nghe Sony', 'Phụ kiện', 3000000, 20),
(4, 'Bàn phím cơ', 'Phụ kiện', 1500000, 50),
(5, 'Mac Book Air M2', 'Laptop', 28000000, 8)
""")

cursor.execute("""
INSERT INTO Customers (CustomerID, FullName, PhoneNumber, Email)
VALUES  
(1, 'Nguyễn Văn A', '0987654321', 'a@example.com'),
(2, 'Trần Thị B', '0976543210', 'b@example.com'),
(3, 'Lê Văn C', '0965432109', 'c@example.com'),
(4, 'Phạm Thị D', '0945678123', 'd@example.com'),
(5, 'Bùi Văn E', '0936789123 ', 'e@example.com')
""")

cursor.execute("""
INSERT INTO Salespersons (SalespersonID, FullName, PhoneNumber)
VALUES 
(1, 'Lê Hoàng Nam', '0934567890'),
(2, 'Trần Quốc Bảo', '0945678123'),
(3, 'Nguyễn Minh Hà', '0956789123')
""")

cursor.execute("""
INSERT INTO Orders (OrderID, CustomerID, SalespersonID, OrderDate, TotalAmount)
VALUES 
(1, 1, 1, '2024-03-10', 25000000),
(2, 2, 2, '2024-03-11', 3000000),
(3, 3, 3, '2024-03-12', 22000000)
""")

cursor.execute("""
INSERT INTO OrderDetails (OrderDetailID, OrderID, ProductID, Quantity, Subtotal)
VALUES 
(1, 1, 1, 1, 25000000),
(2, 2, 3, 1, 3000000),
(3, 3, 2, 1, 22000000)
""")

connection.commit()
cursor.close()
connection.close()

In [3]:
# Connection to db
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week8"
)

cursor = connection.cursor()

In [21]:
#Truy vẫn tất cả sản phẩm còn hàng

query = """
Select ProductName, StockQuantity From Products
Where 1 = 1
And StockQuantity > 0
"""
query_result = pd.read_sql_query(query, connection)
print(query_result)

       ProductName  StockQuantity
0  Laptop Dell XPS             10
1         iPhone14             15
2    Tai nghe Sony             20
3      Bàn phím cơ             50
4  Mac Book Air M2              8

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_7532\1512897843.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_result = pd.read_sql_query(query, connection)

In [23]:
#Truy vấn đơn hàng của khách hàng có CUstomerID = 1
query = """
SELECT * FROM Orders
WHERE CustomerID = 1
"""
query_result = pd.read_sql_query(query, connection)
print(query_result)

#Truy vấn tất cả sản phẩm đã bán

   OrderID  CustomerID  SalespersonID   OrderDate  TotalAmount
0        1           1              1  2024-03-10   25000000.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_7532\1990883557.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_result = pd.read_sql_query(query, connection)

In [7]:
# Truy vấn tổng doanh số của từng nhân viên
query = """
SELECT s.SalespersonID, s.FullName, SUM(o.TotalAmount) AS TotalSales
FROM Salespersons s
JOIN Orders o ON s.SalespersonID = o.SalespersonID
GROUP BY s.SalespersonID, s.FullName;
"""
query_result = pd.read_sql_query(query, connection)
print(query_result)

   SalespersonID        FullName  TotalSales
0              1    Lê Hoàng Nam  25000000.0
1              2   Trần Quốc Bảo   3000000.0
2              3  Nguyễn Minh Hà  22000000.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_15716\1266345069.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_result = pd.read_sql_query(query, connection)

In [9]:
# Nhân viên bán hàng có tổng doanh số cao nhất

query = """
Select s.SalespersonID, s.FullName, SUM(o.TotalAmount) AS TotalSales
From Salespersons s
Join Orders o ON s.SalespersonID = o.SalespersonID
Group by s.SalespersonID, s.FullName
Order by TotalSales DESC
Limit 1;
"""
query_result = pd.read_sql_query(query, connection)
print(query_result)

   SalespersonID      FullName  TotalSales
0              1  Lê Hoàng Nam  25000000.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_15716\385196771.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_result = pd.read_sql_query(query, connection)

In [13]:
# Tính tổng doanh thu theo từng danh mục sản phẩm
query = """
Select p.Category, p.Price, od.Quantity, SUM(p.Price * od.Quantity) AS TotalRevenue
from Products p
join OrderDetails od ON p.ProductID = od.ProductID
group by p.Category, p.Price, od.Quantity;
"""
query_result = pd.read_sql_query(query, connection)
print(query_result)

     Category       Price  Quantity  TotalRevenue
0      Laptop  25000000.0         1    25000000.0
1    Phụ kiện   3000000.0         1     3000000.0
2  Điện thoại  22000000.0         1    22000000.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_15716\1083861705.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_result = pd.read_sql_query(query, connection)

In [14]:
#Top 3 khách hàng có tổng chi tiêu cao nhất
query = """
Select c.CustomerID, C.FullName, c.Email, Sum(o.TotalAmount) AS TotalSpend
From Customers c
Join Orders o ON c.CustomerID = o.CustomerID
Group by c.CustomerID, c.FullName, c.Email
Order by TotalSpend DESC
Limit 3;
"""
query_result = pd.read_sql_query(query, connection)
print(query_result)

   CustomerID      FullName          Email  TotalSpend
0           1  Nguyễn Văn A  a@example.com  25000000.0
1           3      Lê Văn C  c@example.com  22000000.0
2           2    Trần Thị B  b@example.com   3000000.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_15716\802739089.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_result = pd.read_sql_query(query, connection)

In [18]:
# Tìm tháng có doanh thu cao nhất
query = """
Select o.OrderDate, od.ProductID, SUM(p.Price * od.Quantity) AS TotalRevenue
from Orders o
Join OrderDetails od ON o.OrderID = od.OrderID
Join Products p ON od.ProductID = p.ProductID
Group by o.OrderDate, od.ProductID
Order by TotalRevenue DESC
Limit 1;
"""
query_result = pd.read_sql_query(query, connection)
print(query_result)

    OrderDate  ProductID  TotalRevenue
0  2024-03-10          1    25000000.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_15716\3260589108.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_result = pd.read_sql_query(query, connection)

In [21]:
# Tìm tháng bán chạy nhất theo số lượng

query = """
Select p.ProductName, SUM(od.Quantity) AS TotalQuantity
from OrderDetails od
Join Products p ON od.ProductID = p.ProductID
Group by p.ProductName
Order by TotalQuantity DESC
Limit 3;
"""
query_result = pd.read_sql_query(query, connection)
print(query_result)

       ProductName  TotalQuantity
0  Laptop Dell XPS            1.0
1    Tai nghe Sony            1.0
2         iPhone14            1.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_15716\815789283.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_result = pd.read_sql_query(query, connection)