In [1]:
import mysql.connector  
import pandas as pd

In [ ]:
#Connect to database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio_week_9"
)

cursor = connection.cursor()

# Create tables
cursor.execute("""
               CREATE TABLE IF NOT EXISTS Customers_Company (
               customer_id INT AUTO_INCREMENT PRIMARY KEY, 
               fullName VARCHAR(250), 
               city VARCHAR(20)
               );
               """)

cursor.execute("""
               CREATE TABLE IF NOT EXISTS Accounts (
               accountID VARCHAR(5) PRIMARY KEY, 
               customer_id INT,
               banlance DECIMAL(15,2),
               FOREIGN KEY (customer_id) REFERENCES Customers_Company(customer_id)
               );
               """)


#Print result
print("Tables created successfully")

# Close connection
connection.commit()
cursor.close()
connection.close()

Tables created successfully

In [ ]:
#Connect to database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio_week_9"
)

cursor = connection.cursor()

#Insert data into table

data_customer = [('Alice', 'Hanoi'), 
                ('Bob', 'HCM'), 
                ('Charlie', 'Danang'), 
                ('Diana', 'Hanoi')]
cursor.executemany("""
               INSERT INTO Customers_Company (fullName, city)
               VALUES (%s, %s)
               """, data_customer)

#Commit data
connection.commit()

#Print result
print("Data inserted successfully")

#Close connection
cursor.close()
connection.close()

Data inserted successfully

In [17]:
#Connect to database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio_week_9"
)

cursor = connection.cursor()

data_account = [('A1', 30, 500),   
                ('A2', 31, 1000),
                ('A3', 31, 1500),
                ('A4', 32, 300)]
cursor.executemany("""
               INSERT INTO Accounts (accountID, customer_id, banlance)
               VALUES (%s, %s, %s)
               """, data_account)

#Commit data
connection.commit()

#Print result
print("Data inserted successfully")

#Close connection
cursor.close()
connection.close()

Data inserted successfully

In [22]:
#Connect to database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio_week_9"
)

cursor = connection.cursor()

query = """
SELECT c.fullName, a.banlance, a.accountID
FROM Customers_Company c
LEFT JOIN Accounts a ON c.customer_id = a.customer_id
"""
result = pd.read_sql(query, connection)
print(result)

   fullName  banlance accountID
0     Alice     500.0        A1
1       Bob    1500.0        A3
2       Bob    1000.0        A2
3   Charlie     300.0        A4
4     Diana       NaN      None
5     Alice       NaN      None
6       Bob       NaN      None
7   Charlie       NaN      None
8     Diana       NaN      None
9     Alice       NaN      None
10      Bob       NaN      None
11  Charlie       NaN      None
12    Diana       NaN      None

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_14464\920166935.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query, connection)

In [28]:
query = """
SELECT c.fullName, COUNT(a.accountID) AS total_accounts
FROM Customers_Company c
INNER JOIN Accounts a ON c.customer_id = a.customer_id
GROUP BY c.fullName
"""
result = pd.read_sql(query, connection)
print(result)

  fullName  total_accounts
0    Alice               1
1      Bob               2
2  Charlie               1

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_14464\1593757034.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query, connection)

In [30]:
query = """
SELECT a.accountID, c.fullName
FROM Accounts a
RIGHT JOIN Customers_Company c ON a.customer_id = c.customer_id
"""
result = pd.read_sql(query, connection)
print(result)

   accountID fullName
0         A1    Alice
1         A2      Bob
2         A3      Bob
3         A4  Charlie
4       None    Diana
5       None    Alice
6       None      Bob
7       None  Charlie
8       None    Diana
9       None    Alice
10      None      Bob
11      None  Charlie
12      None    Diana

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_14464\1517292642.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query, connection)

In [31]:
query = """
SELECT a.accountID, c.fullName
FROM Accounts a
RIGHT JOIN Customers_Company c ON a.customer_id = c.customer_id
WHERE 1 = 1
AND a.accountID IS NULL
"""
result = pd.read_sql(query, connection)
print(result)

  accountID fullName
0      None    Diana
1      None    Alice
2      None      Bob
3      None  Charlie
4      None    Diana
5      None    Alice
6      None      Bob
7      None  Charlie
8      None    Diana

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_14464\3495810967.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query, connection)

In [32]:
query = """
SELECT a.accountID, c.fullName
FROM Accounts a
LEFT JOIN Customers_Company c ON a.customer_id = c.customer_id
WHERE 1 = 1
AND a.accountID IS NULL
"""
result = pd.read_sql(query, connection)
print(result)

Empty DataFrame
Columns: [accountID, fullName]
Index: []

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_14464\1344294027.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query, connection)

In [33]:
cursor.close()
connection.close()