In [2]:
import mysql.connector
import pandas as pd

In [3]:
# Connect to the database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio_week_9"
)

cursor = connection.cursor()

In [4]:
#Create the table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Customers(
    CustomerID INT PRIMARY KEY, 
    FullName VARCHAR(255)
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Transactions(
    TransactionID INT PRIMARY KEY, 
    CustomerID INT,
    TransactionDate datetime  DEFAULT current_timestamp,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS TransactionDetails (
    TransactionDetailID INT PRIMARY KEY, 
    TransactionID INT,
    StockCode VARCHAR(10),
    FOREIGN KEY (TransactionID) REFERENCES Transactions(TransactionID)
);
""")


print("Tables created successfully")
connection.commit()
cursor.close()
connection.close()

Tables created successfully

In [5]:
# Connect to the database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio_week_9"
)

cursor = connection.cursor()

#Insert data into the table
cursor.execute("""
INSERT INTO Customers (CustomerID, FullName) 
VALUES 
               (1, "Nguyen Van A"),
               (2, "Le Thi B"),
               (3, "Tran Van C");
""")

cursor.execute("""
INSERT INTO Transactions (TransactionID, CustomerID, TransactionDate)
VALUES 
               (1, 1, "2024-12-01"),
               (2, 2, "2024-12-02"),
               (3, 3, "2024-12-03");
""")

cursor.execute("""
INSERT INTO TransactionDetails (TransactionDetailID, TransactionID, StockCode)
VALUES 
               (1, 1, "VNM"),
               (2, 1, "FPT"),
               (3, 1, "MWG"),
               (4, 2, "SSI"),
               (5, 3, "VCB"),
               (6, 3, "TCB");
""")

print(f"Data inserted successfully")
connection.commit()
cursor.close()

Data inserted successfully

True

In [6]:
query = """
Select td.stockcode, c.fullname
from transactiondetails td
join transactions t on td.transactionid = t.transactionid
join customers c on t.customerid = c.customerid
"""

result = pd.read_sql_query(query, connection)

print(result)

  stockcode      fullname
0       VNM  Nguyen Van A
1       FPT  Nguyen Van A
2       MWG  Nguyen Van A
3       SSI      Le Thi B
4       VCB    Tran Van C
5       TCB    Tran Van C

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_13992\3070649113.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, connection)