In [2]:
import mysql.connector  
import pandas as pd

In [16]:
# Connect to the database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio_week_9"
)

cursor = connection.cursor()

# Create tables
cursor.execute("""
CREATE TABLE IF NOT EXISTS CustomersWarehouse(
    customerID VARCHAR(5) PRIMARY KEY, 
    fullName VARCHAR(30)
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Item(
    itemID VARCHAR(5) PRIMARY KEY, 
    itemName VARCHAR(20)
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Staffs(
    staffID VARCHAR(5) PRIMARY KEY, 
    fullName VARCHAR(30)
);            
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Warehouse(
    warehouseID VARCHAR(5) PRIMARY KEY, 
    warehouseName VARCHAR(20)
);   
""")


cursor.execute("""
CREATE TABLE IF NOT EXISTS Records(
    recordID VARCHAR(5) PRIMARY KEY, 
    itemID VARCHAR(5),
    warehouseID VARCHAR(5),
    customerID VARCHAR(5),
    staffID VARCHAR(5),
    quantity INT,
    location VARCHAR(20)
    FOREIGN KEY (itemID) REFERENCES Item(itemID),
    FOREIGN KEY (warehouseID) REFERENCES Warehouse(warehouseID),
    FOREIGN KEY (customerID) REFERENCES CustomersWarehouse(customerID),
    FOREIGN KEY (staffID) REFERENCES Staffs(staffID)
);
""")

print("Tables created successfully")
connection.commit()
cursor.close()
connection.close()

Tables created successfully

In [3]:
# Connect to the database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio_week_9"
)

cursor = connection.cursor()

#Insert data into the tables
cursor.execute("""
INSERT INTO CustomersWarehouse (customerID, fullName) 
VALUES ('C001', 'Mekong Corp'),
       ('C002', 'Vina Auto' ),
       ('C003', 'Delta Co');
""")

cursor.execute("""
INSERT INTO Item (itemID, itemName)
VALUES ('IT001', 'Motor Oil 5L'),
       ('IT002', 'Engine Cleaner'),
       ('IT003', 'Battery 12V');
""")

cursor.execute("""
INSERT INTO Staffs (staffID, fullName)
VALUES ('S01', 'Hoa Nguyen'),
       ('S02', 'Khang Tran');  
""")

cursor.execute("""
INSERT INTO Warehouse (warehouseID, warehouseName)
VALUES ('WH01', 'Main Warehouse'),
       ('WH02', 'North Depot');
""")

cursor.execute("""
INSERT INTO Records (recordID, itemID, warehouseID, customerID, staffID, quantity, location)
VALUES ('R001', 'IT001', 'WH01', 'C001', 'S01', 50, 'Shelf A1'),
       ('R002', 'IT002', 'WH01', 'C002', 'S02', 30, 'Shelf B2'),
       ('R003', 'IT001', 'WH02', 'C001', 'S01', 40, 'Shelf C3'), 
       ('R004', 'IT003', 'WH01', 'C003', 'S02', 25, 'Shelf A1');
""")

print("Data inserted successfully")
connection.commit()
cursor.close()
connection.close()

Data inserted successfully

In [5]:
# Connect to the database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio_week_9"
)

cursor = connection.cursor()

In [7]:
query = ("""
Select i.itemName, w.warehouseName, SUM(r.quantity) as total_quantity
FROM Item i
JOIN Records r ON i.itemID = r.itemID
JOIN Warehouse w ON r.warehouseID = w.warehouseID
GROUP BY i.itemName, w.warehouseName
""")
result = pd.read_sql_query(query, connection)
print(result)

         itemName   warehouseName  total_quantity
0    Motor Oil 5L  Main Warehouse            50.0
1    Motor Oil 5L     North Depot            40.0
2  Engine Cleaner  Main Warehouse            30.0
3     Battery 12V  Main Warehouse            25.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_4944\66435070.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, connection)

In [10]:
query = ("""
Select c.fullName, i.itemName, w.warehouseName
         from CustomersWarehouse c
         JOIN Records r ON c.customerID = r.customerID
         JOIN Item i ON r.itemID = i.itemID
         JOIN Warehouse w ON r.warehouseID = w.warehouseID
         group by c.fullName, i.itemName, w.warehouseName
""")
result = pd.read_sql_query(query, connection)
print(result)

      fullName        itemName   warehouseName
0  Mekong Corp    Motor Oil 5L  Main Warehouse
1  Mekong Corp    Motor Oil 5L     North Depot
2    Vina Auto  Engine Cleaner  Main Warehouse
3     Delta Co     Battery 12V  Main Warehouse

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_4944\3603220521.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, connection)

In [15]:
query = ("""
Select s.fullName, i.itemName, w.warehouseName
from Staffs s
JOIN Records r ON s.staffID = r.staffID
JOIN Item i ON r.itemID = i.itemID
JOIN Warehouse w ON r.warehouseID = w.warehouseID
Where 1 = 1
and w.warehouseName = 'Main Warehouse'
group by s.fullName, i.itemName, w.warehouseName
""")
result = pd.read_sql_query(query, connection)
print(result)

     fullName        itemName   warehouseName
0  Hoa Nguyen    Motor Oil 5L  Main Warehouse
1  Khang Tran  Engine Cleaner  Main Warehouse
2  Khang Tran     Battery 12V  Main Warehouse

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_4944\3219219583.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, connection)

In [17]:
query = ("""
Select i.itemName, w.warehouseName, r.location, r.quantity
from Item i
JOIN Records r ON i.itemID = r.itemID
JOIN Warehouse w ON r.warehouseID = w.warehouseID

""")
result = pd.read_sql_query(query, connection)
print(result)

         itemName   warehouseName  location  quantity
0    Motor Oil 5L  Main Warehouse  Shelf A1        50
1    Motor Oil 5L     North Depot  Shelf C3        40
2  Engine Cleaner  Main Warehouse  Shelf B2        30
3     Battery 12V  Main Warehouse  Shelf A1        25

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_4944\1346671829.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, connection)

In [22]:
query = ("""
Select w.warehouseName, Count(c.customerID) as total_customer
from Warehouse w
JOIN Records r ON w.warehouseID = r.warehouseID
JOIN CustomersWarehouse c ON r.customerID = c.customerID
group by w.warehouseName
""")
result = pd.read_sql_query(query, connection)
print(result)

    warehouseName  total_customer
0  Main Warehouse               3
1     North Depot               1

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_4944\2194747263.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, connection)