In [1]:
import mysql.connector
import pandas as pd

In [4]:
#Connect to database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)

cursor = connection.cursor()

In [23]:
# Tạo index cho bảng ‘customers‘ trên cột ‘city‘ để tăng tốc các truy vấn tìm kiếm khách hàng theo thành phố
query = """   
Create index index_city on customers(city);
"""

try:
    cursor.execute(query)
    connection.commit()
except mysql.connector.Error as err:
    print(f"Error: {err}")

connection.close()
cursor.close()

True

In [6]:

connection.close()
cursor.close()

True

In [7]:
#Connect to database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)

cursor = connection.cursor()

query = """
create index index_customerID on orders(customer_id);
"""
try:
    cursor.execute(query)
    connection.commit()
except mysql.connector.Error as err:
    print(f"Error: {err}")

connection.close()
cursor.close()

True

In [8]:
# Tạo UNIQUE index cho bảng ‘products‘ trên cột ‘name‘ để đảm bảo tên sản phẩm không bị trùng lặp
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)
cursor = connection.cursor()

query = """
create unique index unique_index_name on products(name);
"""

try:
    cursor.execute(query)
    connection.commit()
except mysql.connector.Error as err:
    print(f"Error: {err}")

connection.close()
cursor.close()

True

In [9]:
# Tạo index trên bảng ‘order_items‘ cho cột ‘product_id‘ và ‘order_id‘ (multicolumn index) để tối ưu truy vấn chi tiết đơn hàng
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)
cursor = connection.cursor()

query = """  
create index index_product_order on order_items(product_id, order_id);
"""

try:
    cursor.execute(query)
    connection.commit()
except mysql.connector.Error as err:
    print(f"Error: {err}")

connection.close()
cursor.close()

True

In [18]:
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)
cursor = connection.cursor()

query = """
EXPLAIN SELECT * FROM customers WHERE city = 'Hanoi';
"""

cursor.execute(query)
result = cursor.fetchall()
print(result)

[(1, 'SIMPLE', 'customers', None, 'ref', 'index_city', 'index_city', '1003', 'const', 2, 100.0, None)]

In [20]:
query = """
EXPLAIN SELECT * FROM customers WHERE id = 1;
"""

cursor.execute(query)
result = cursor.fetchall()
print(result)

[(1, 'SIMPLE', 'customers', None, 'const', 'PRIMARY', 'PRIMARY', '4', 'const', 1, 100.0, None)]

In [ ]:
connection.close()
cursor.close()

In [ ]:
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)
cursor = connection.cursor()

query = """
drop index index_city on customers;
"""

cursor.execute(query)
connection.commit()

In [25]:
#Tạo index cho cột ‘total‘ của bảng ‘orders‘ để tăng tốc sắp xếp theo tổng đơn hàng.
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)
cursor = connection.cursor()

query = """
create index index_total on orders(total);
"""

try:
    cursor.execute(query)
    connection.commit()
except mysql.connector.Error as err:
    print(f"Error: {err}")

In [26]:
# Tạo index cho bảng ‘employees‘ theo ‘department‘, sau đó truy vấn để lấy tất cả nhân viên thuộc ’Sales’.
query = """ 
create index index_department on employees(department);
"""

try:
    cursor.execute(query)
    connection.commit()
except mysql.connector.Error as err:
    print(f"Error: {err}")

In [ ]:

query = """
SELECT * FROM employees WHERE department = 'Sales';
"""
result = pd.read_sql_query(query, connection)
result.head()

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8456\664450536.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, connection)

   id   name department
0   1  David      Sales
1   3  Frank      Sales

In [31]:
#So sánh tốc độ SELECT có và không có index trên bảng ‘products‘ khi tìm theo ‘price > 1000‘.
cursor.execute("SET profiling = 1;")

query = """
Select * from products where price > 1000;
"""

cursor.execute(query)
cursor.fetchall()
cursor.execute("SHOW PROFILES;")
result = cursor.fetchall()
print(result)

[(1, 0.00044925, 'Select * from products where price > 1000'), (2, 0.00018825, 'SET profiling = 1'), (3, 0.00039325, 'Select * from products where price > 1000')]

In [32]:
query = """
create index index_price on products(price);
"""

try:
    cursor.execute(query)
    connection.commit()
except mysql.connector.Error as err:
    print(f"Error: {err}")

In [33]:
cursor.execute("SET profiling = 1;")

query = """
Select * from products where price > 1000;
"""
cursor.execute(query)
cursor.fetchall()

[(1, 'Laptop', Decimal('1500.00'))]

In [34]:

cursor.execute("SHOW PROFILES;")
result = cursor.fetchall()
print(result)

[(1, 0.00044925, 'Select * from products where price > 1000'), (2, 0.00018825, 'SET profiling = 1'), (3, 0.00039325, 'Select * from products where price > 1000'), (4, 0.037777, 'create index index_price on products(price)'), (5, 7.525e-05, 'COMMIT'), (6, 0.00029175, 'SET profiling = 1'), (7, 0.000432, 'Select * from products where price > 1000')]

In [35]:
# Tạo index trên bảng ‘orders‘ theo cột ‘order_date‘ để tối ưu các truy vấn lấy đơn hàng gần đây.
query = """
create index index_order_date on orders(order_date);
"""

try:
    cursor.execute(query)
    connection.commit()
except mysql.connector.Error as err:
    print(f"Error: {err}")