In [3]:
import mysql.connector
import pandas as pd

In [2]:
#Connect to database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)

cursor = connection.cursor()

In [5]:
# Create table customers
cursor.execute(""" 
CREATE TABLE IF NOT EXISTS customers(
               id INT AUTO_INCREMENT PRIMARY KEY,
               name VARCHAR(250), 
               city VARCHAR(250)
);
""")

#Insert data into table
data_customers = [('Alice', 'HaNoi'), 
                  ('Bob', 'Ho Chi Minh'), 
                  ('Charlie', 'Hanoi')]
cursor.executemany("INSERT INTO customers (name, city) VALUES (%s, %s)", data_customers)

#Commit the transaction
print("Table customers created successfully & data inserted")
connection.commit()

In [6]:
#Create table orders
cursor.execute("""
CREATE TABLE IF NOT EXISTS orders(
               id INT AUTO_INCREMENT PRIMARY KEY,
               customer_id INT,
               order_date DATETIME,
               total DECIMAL(10, 2),
               FOREIGN KEY (customer_id) REFERENCES customers(id)
);
""")

#Insert data into table
data_orders = [
    (1, '2024-01-10', 500),
    (1, '2024-03-01', 800),
    (2, '2024-02-20', 12000),
    (3, '2024-01-15', 200)
]
cursor.executemany("INSERT INTO orders (customer_id, order_date, total) VALUES (%s, %s, %s)", data_orders)

#Commit the transaction
print("Table orders created successfully & data inserted")
connection.commit()

Table orders created successfully & data inserted

In [7]:
#Create table products
cursor.execute("""
CREATE TABLE IF NOT EXISTS products(
               id INT AUTO_INCREMENT PRIMARY KEY,
               name VARCHAR(250),
               price DECIMAL(10, 2)
);
""")

#Insert data into table
data_products = [
    ('Laptop', 1500),
    ('Mouse', 50),
    ('Keyboard', 100),
    ('Monitor', 300)
]
cursor.executemany("INSERT INTO products (name, price) VALUES (%s, %s)", data_products)

#Commit the transaction
print("Table products created successfully & data inserted")
connection.commit()

Table products created successfully & data inserted

In [8]:
#Create table order_items
cursor.execute("""
CREATE TABLE IF NOT EXISTS order_items(
               id INT AUTO_INCREMENT PRIMARY KEY,
               order_id INT,
               product_id INT,
               quantity INT,
               FOREIGN KEY (order_id) REFERENCES orders(id),
               FOREIGN KEY (product_id) REFERENCES products(id)
);
""")

#Insert data into table
data_order_items = [
    (1, 2, 2),
    (1, 3, 1),
    (2, 1, 1),
    (2, 4, 1),
    (3, 1, 1)
]
cursor.executemany("INSERT INTO order_items (order_id, product_id, quantity) VALUES (%s, %s, %s)", data_order_items)

#Commit the transaction
print("Table order_items created successfully & data inserted")
connection.commit()

Table order_items created successfully & data inserted

In [9]:
#Create table employees
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees(
               id INT AUTO_INCREMENT PRIMARY KEY,
               name VARCHAR(250),
               department VARCHAR(250)
);
""")

#Insert data into table
data_employees = [
    ('David', 'Sales'),
    ('Emma', 'Support'), 
    ('Frank', 'Sales')
]
cursor.executemany("INSERT INTO employees (name, department) VALUES (%s, %s)", data_employees)

#Commit the transaction
print("Table employees created successfully & data inserted")
connection.commit()

Table employees created successfully & data inserted

In [10]:
# Create table order_assignments
cursor.execute("""
CREATE TABLE IF NOT EXISTS order_assignments(
               id INT AUTO_INCREMENT PRIMARY KEY,
               order_id INT,
               employee_id INT,
               FOREIGN KEY (order_id) REFERENCES orders(id),
               FOREIGN KEY (employee_id) REFERENCES employees(id)
);
""")

#Insert data into table 
data_order_assignments = [
    (1, 1),
    (2, 3),
    (3, 2)
]
cursor.executemany("INSERT INTO order_assignments (order_id, employee_id) VALUES (%s, %s)", data_order_assignments) 

#Commit the transaction
print("Table order_assignments created successfully & data inserted")
connection.commit()

Table order_assignments created successfully & data inserted

In [11]:
#Close the connection
cursor.close()
connection.close()

In [10]:
#Connect to database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)

cursor = connection.cursor()

In [15]:
# View table customers
df = pd.read_sql_query("SELECT * FROM customers", connection)
df.head()

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_24460\2235774465.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM customers", connection)

   id     name         city
0   1    Alice        HaNoi
1   2      Bob  Ho Chi Minh
2   3  Charlie        Hanoi

In [16]:
df = pd.read_sql_query("SELECT * FROM orders", connection)
df.head()

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_24460\916968381.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM orders", connection)

   id  customer_id order_date    total
0   1            1 2024-01-10    500.0
1   2            1 2024-03-01    800.0
2   3            2 2024-02-20  12000.0
3   4            3 2024-01-15    200.0

In [17]:
df = pd.read_sql_query("SELECT * FROM order_items", connection)
df.head()

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_24460\3492773397.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM order_items", connection)

   id  order_id  product_id  quantity
0   1         1           2         2
1   2         1           3         1
2   3         2           1         1
3   4         2           4         1
4   5         3           1         1

In [18]:
df = pd.read_sql_query("SELECT * FROM employees", connection)
df.head()

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_24460\1336155142.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM employees", connection)

   id   name department
0   1  David      Sales
1   2   Emma    Support
2   3  Frank      Sales

In [19]:
df = pd.read_sql_query("SELECT * FROM order_assignments", connection)
df.head()

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_24460\2329555199.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM order_assignments", connection)

   id  order_id  employee_id
0   1         1            1
1   2         2            3
2   3         3            2

In [5]:
# Tìm tất cả các khách hàng đã mua đơn hàng có sản phẩm > 1000

query = """
Select c.name
From customers c
join orders o on c.id = o.customer_id
where o.id in (
    select oi.order_id
    from order_items oi
    join products p on oi.product_id = p.id
    where p.price > 1000
)
"""
df  = pd.read_sql_query(query, connection)
print(df)

    name
0  Alice
1    Bob

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8684\3841407697.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df  = pd.read_sql_query(query, connection)

In [8]:
#Liệt kê tên từng khách hàng và tổng giá trị tất cả đơn hàng mà họ đã đặt
query = """
Select c.name,
(Select SUM(p.price * ot.quantity)
from orders o
join order_items ot on o.id = ot.order_id
join products p on ot.product_id = p.id
where o.customer_id = c.id
) as total_spent
from customers c
order by total_spent desc
"""
df  = pd.read_sql_query(query, connection)
print(df)

      name  total_spent
0    Alice       2000.0
1      Bob       1500.0
2  Charlie          NaN

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8684\3530197996.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df  = pd.read_sql_query(query, connection)

In [12]:
#Hiển thị top 2 khách hàng dựa trên tổng giá trị tại bảng đơn hàng
query = """
Select ts.customer, ts.total_value
from (
Select c.name as customer, SUM(total) as total_value
from customers c
join orders o on c.id = o.customer_id
group by c.name
) as ts
order by ts.total_value desc
limit 2
"""
df  = pd.read_sql_query(query, connection)
print(df)

  customer  total_value
0      Bob      12000.0
1    Alice       1300.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8684\3466330411.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df  = pd.read_sql_query(query, connection)

In [13]:
#Tìm tên nhân viên thuộc phòng Sales đã từng xử lý đơn hàng có chứa sản phẩm tên "Monitor".
query = """
Select e.name
from employees e
where exists (
    select 1
    from order_assignments oa
    join order_items ot on o.id = ot.order_id
    join products p on ot.product_id = p.id
    where p.name = 'Monitor' and oa.employee_id = e.id
)
"""
df  = pd.read_sql_query(query, connection)
print(df)

    name
0  Frank

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8684\2409964893.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df  = pd.read_sql_query(query, connection)

In [14]:
#Tìm các khách hàng có tổng chi tiêu cao hơn mức trung bình của tất cả khách hàng
query = """
Select c.name, SUM(o.total) as total_spent
from customers c
join orders o on c.id = o.customer_id
group by c.name
having SUM(o.total) > (
    select AVG(total)
    from orders
)
"""
df  = pd.read_sql_query(query, connection)
print(df)

  name  total_spent
0  Bob      12000.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8684\748967161.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df  = pd.read_sql_query(query, connection)

In [17]:
#Tạo bảng tạm khách hàng VIP
cursor.execute("""
Create temporary table vip_customers as
Select c.name, SUM(o.total) as total_spent
from customers c
join orders o on c.id = o.customer_id
group by c.name
having total_spent > 1000
""")
df = pd.read_sql_query("Select * from vip_customers", connection)
print(df)

    name  total_spent
0  Alice       1300.0
1    Bob      12000.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8684\1026722189.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("Select * from vip_customers", connection)

In [26]:
#Tạo bảng tạm sản phẩm phổ biến
cursor.execute("""
Create temporary table popular_products as
Select p.name
from products p
join order_items ot on p.id = ot.product_id
where ot.quantity > 1
""")
df = pd.read_sql_query("Select * from popular_products", connection)
print(df)

    name
0  Mouse

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8684\2820986695.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("Select * from popular_products", connection)

In [36]:
#Subquery lồng nhau nhiều cấp
query = """
SELECT 
    c.name
FROM customers c
JOIN orders o ON c.id = o.customer_id
JOIN order_assignments oa ON o.id = oa.order_id
WHERE oa.employee_id IN (
    SELECT employee_id
    FROM (
        SELECT e.id AS employee_id, SUM(o.total) AS total_sales
        FROM employees e
        JOIN order_assignments oa ON e.id = oa.employee_id
        JOIN orders o ON oa.order_id = o.id
        GROUP BY e.id
        HAVING SUM(o.total) > 1000
    ) AS top_sellers
);

"""
df = pd.read_sql_query(query, connection)
print(df)

  name
0  Bob

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8684\2468834202.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [17]:
#Connect to database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123#edc",
    database="aio.week.10"
)

cursor = connection.cursor()

In [21]:
cursor.execute("""
Create temporary table high_value_orders as
Select *
from orders o
where o.total > 800
""")

query = """
Select c.name, hvo.total
from customers c
join high_value_orders hvo on c.id = hvo.customer_id
"""

df = pd.read_sql_query(query, connection)
print(df)

  name    total
0  Bob  12000.0

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8312\1393747831.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [29]:
#Tính tổng giá trị thực tế của từng đơn hàng bằng cách lấy price × quantity theo từng dòng sản phẩm.
query = """
SELECT 
    p.id AS product_id,
    p.name AS product_name,
    (Select SUM(oi.quantity * p.price)
    from order_items oi
    join products p2 on oi.product_id = p2.id
    where oi.order_id = p.id
    ) as total_revenue
FROM products p 
order by total_revenue desc
"""

df = pd.read_sql_query(query, connection)
print(df)

   product_id product_name  total_revenue
0           1       Laptop         4500.0
1           2        Mouse          100.0
2           3     Keyboard          100.0
3           4      Monitor            NaN

C:\Users\AI LEARNER\AppData\Local\Temp\ipykernel_8312\3421429933.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [30]:
cursor.close()
connection.close()